/***UTAMA***/

body {
    background-color: rgb(219, 253, 253);
}
a {
    text-decoration: none;
}
li {
    display: inline-block;
}

/***header***/

header nav {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
    grid-template-areas: 
    "a b c";
    height:50px;
}

nav a {
    grid-area: b;
    text-align: center;
}
nav h3 {
    margin-bottom: 10px;
    margin-top: 15px;
}
h3 img {
    width:20px;
}
nav ul {
    grid-area: a;
    text-align: left;
}
nav #header-kanan{
    grid-area: c;
    display:inline;
    text-align: right;
    font-family: 'Niramit', sans-serif;
    font-size: 15px;
}
header {
    background-color: rgb(215, 235, 252);
}
header ul{
    padding-left: 2px;
    margin-bottom: 0px;
    margin-top: 15px;
}
header h3 {
    font-family: 'Mali', cursive;
    color: rgb(248, 248, 248);
}
.top-nav{
    margin-right: 10px;
    margin-left: 10px;
    font-family: 'Niramit', sans-serif;
    font-size: 15px;
}
#signout{
    margin-left: 25px;
    margin-right: 15px;
}


/***section***/

section{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    text-align: center;
    /* background-color:rgb(219, 253, 253); */
}
#tweet-box {
    margin-top: 15px;
    margin-left: 17px;
    display: block;
    width: 93%;
    height: 40px;
    border-radius: 10px;
    border: 1px solid rgb(213, 213, 255);
}
#tweetbox-section{
    margin: 8px;
    padding: 10px;
    padding-top: 3px;
    background-color: rgb(215, 235, 252);
}

#profile-section {
    margin: 8px;
    padding: 10px;
    background-color: white;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
}
#nama{
    margin-top: -40px;
    margin-left: 80px;
}
#tweet-count{
    margin-left: 38px;
    margin-top: 10px;
}
#cover {
    background-image: url('cover.jpg');
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
}
section img:nth-child(n+1) {
    width: 100%;
}
section img:nth-child(n+2) {
    width: 100%;
    width: 100px;
    height: 100px;
    margin-top: -55px;
    border-radius: 50%;
    margin-right: 150px;
    border-top-width: 3px;
    border-top-style: solid;
    border-top-color: white;
    border-left-width: 3px;
    border-left-style: solid;
    border-left-color: white;
    border-right-width: 3px;
    border-right-style: solid;
    border-right-color: white;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: white;
}

#trending{
    margin: 8px;
    padding: 10px;
    background-color: white;
    margin-left: 0px;
    height: 300px;
    
}
.trendingTalks {
    display: inherit;
    text-align: left;
    margin-left: -37px;
    margin-bottom: 20px;
}
#feed{
    margin: 8px;
    padding: 10px;
    margin-left: 9px;
    /* height: 485px; */
}
section h3{
    text-align: left;
    margin-top: 1px;
}
#friend-suggestion{
    margin: 8px;
    padding: 10px;
    background-color: white;
    margin-left: 9px;
    height: 300px;
    margin-right: 0px;
}
#submit-tweet{
    margin-left: 450px;
    margin-top: 5px;
    border-radius: 30px;
    border: 1px solid rgb(150, 205, 250);
}
#copyright-text{
    font-family: 'Mali', cursive;
    font-family: 'Encode Sans Condensed', sans-serif;
    font-size: 0.5em;
}
.bottom-nav{
    margin: 0;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 0.75em;
}
.tweet {
    background-color: white;
    padding: 8px;
    display: grid;
    grid-template-areas: 
    'a a . b b b b b b b b'
    'a a . c c c c c c c c'
    '. . . . e e d d d d d';
    grid-template-columns: repeat(10, 1fr);
    margin-bottom: 8px;
}
.tweet img{
    grid-area: a;
    width: 100%;
    margin: 20px;
}
.tweet h3{
    grid-area: b;
}
.tweet p{
    grid-area: c;
    text-align: left;
    margin-top: 0px;
}
.tweet span{
    grid-area: d;
}
.tweet video {
    width: 100%;
    width: 200px;
    height: 200px;
}
.delete{
    grid-area: e
}

/***footer***/

/* footer{
    background-color: rgb(212, 207, 207);
}
footer nav ul{
    margin-top: 0;
    text-align: right;
}
footer {
    text-align: center;
}
#copyright-text{
    font-family: 'Mali', cursive;
    font-family: 'Encode Sans Condensed', sans-serif;
    font-size: 0.5em;
}
.bottom-nav{
    margin: 0;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 0.75em;
}
nav p{
    margin-top: 10px;
    margin-bottom: 10px;
} */

/* signup */
