@media screen and (max-width: 720px) {
    body {
        background-color: green;
    }

    section {
        grid-template-columns: 1fr 2fr 1fr;
    }
    
    #friend-box {
        display: inherit;
    }
}